{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static',filename = 'favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static',filename = 'favicon.ico') }}">
    <link type="text/css" href="http://cdn.bootcss.com/flat-ui/2.2.2/css/flat-ui.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery.nicescroll/3.6.8/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/headroom/0.7.0/headroom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link href="//cdn.bootcss.com/highlight.js/9.2.0/styles/ir-black.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://api.youziku.com/webfont/FastJS/yzk_71173B3BF6CF5B88"></script>
{% endblock %}
{% block title %}huybery{% endblock %}



{#nav#}
{% block navbar %}
    <script>
    $('body').niceScroll({
    cursorcolor: "#000",//#CC0071 光标颜色
    cursoropacitymax: 1, //改变不透明度非常光标处于活动状态（scrollabar“可见”状态），范围从1到0
    touchbehavior: false, //使光标拖动滚动像在台式电脑触摸设备
    cursorwidth: "5px", //像素光标的宽度
    cursorborder: "1px solid ＃FFF", //     游标边框css定义
    cursorborderradius: "5px",//以像素为光标边界半径
    autohidemode: false, //是否隐藏滚动条
    mousescrollstep:80 //设置滚动速度
    });
    </script>
    <div id="loading"></div>
    <header class="header" id="header">
        <div class="navbar navbar-inverse navbar-embossed" role="navigation">
            <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">huybery</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav ">

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">Index</a></li>
{#                            <li><a href="/">About</a></li>#}
                        {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('auth.logout') }}">Sign Out</a> </li>
                        {% else %}
                            <li><a href="{{ url_for('auth.login') }}">Sign In</a> </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </header>
    {% block page_image %}{% endblock %}
{% endblock %}



{#content#}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                {% block page_content %}{% endblock %}

                <ul class="list-inline text-center footer">
                    <!-- add Weibo, Zhihu by Hux, add target = "_blank" to <a> by huybery -->
                    <li>
                        <a  target="_blank" href="https://www.zhihu.com/people/huybery">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa  fa-stack-1x fa-inverse">知</i>
                            </span>
                        </a>
                    </li>

                     <li>
                        <a target="_blank" href="https://github.com/huybery">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a target="_blank" href="http://weibo.com/1927378537">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>

                </ul>

                <p class="copyright text-muted text-center">
                    Copyright © Huybery 2016
                    <br>
                    Theme © <a href="http://huybery.me">Huybery</a> |
                    <iframe style="margin-left: 2px; margin-bottom:-5px;" frameborder="0" scrolling="0" width="91px" height="20px" src="https://ghbtns.com/github-btn.html?user=huybery&amp;repo=huybery-blog&amp;type=star&amp;count=true">
                    </iframe>
                </p>
            </div>
        </div>
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="go_up" id="go_up">
        <a href="#"><p><i class="glyphicon glyphicon-menu-up"></i></p></a>
    </div>

{% endblock %}



{#js#}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <script type="text/javascript">
        var myElement = document.querySelector("header");
        // 创建 Headroom 对象，将页面元素传递进去
        var headroom  = new Headroom(myElement);
        // 初始化
        headroom.init();
    </script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
    <script src="//cdn.bootcss.com/highlight.js/9.2.0/highlight.min.js"></script>
    <script type="text/javascript">hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript">
        $youziku.load(".post",  "3a40e663fea44fc1a91a5a26c4d3047d", "Heiti-TC-Light");
        $youziku.draw();
    </script>
{% endblock %}