{% extends "base.html" %}

{% block title %}post{% endblock %}
{% block page_image %}
    <div class="container-fluid header">
        <div class="row">
            <div class="image_header col-lg-12" style="height: 400px;;background-image: url('http://7xs7qz.com1.z0.glb.clouddn.com/post.png')">
            </div>
        </div>
    <div>
{% endblock %}
{% block page_content %}
    <ul class="posts">
    {% for post in posts %}
    <div class="post">
        <div class="post_title">
            <a href="{{ url_for('.post',id=post.id) }}">
                <h4 style="position: absolute;color: white;margin-top: -200px;"><span class="glyphicon glyphicon-link"></span> {{ post.head }}</h4>
            </a>
        </div>

        <div  style="margin-top: 30px;" class="post-body">
            {% if post.body_html %}
                {{ post.body_html | safe }}
            {% endif %}
        </div>
        <div class="row">
            <a class="col-lg-2 col-sm-2 col-xs-2 post_tag" href="{{ url_for('.item',tag = post.item.tag) }}">
                <span class="label label-info">
                {{ post.item.tag }}
                </span>
            </a>
            <p class="col-lg-3 col-sm-3 col-xs-7 col-xs-offset-5 col-sm-offset-9 col-lg-offset-9 post_time">{{ moment(post.timestamp).format('YYYY-MM-DD HH:mm:ss') }} </p>
        </div>

        {% if current_user.is_authenticated %}
            <a href="{{ url_for('.edit',id=post.id) }}">
                <span class="label label-primary">Edit</span>
            </a>
        {% endif %}

        <hr />
    <div class="row">
        <div class="ds-thread col-xs-11" data-thread-key="{{ post.id }}" data-title="{{ post.title }}" data-url="/post/{{ post.id }}"></div>
    </div>
        <!-- 多说评论框 end power by huybery-css -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"huybery"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->
    </div>
    {% endfor %}
</ul>
{% endblock %}


