.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
.headroom--unpinned {top: -100px;}
.headroom--pinned {top: 0;}

#loading {
	background-color: #3498DB;
	height: 5px;
	width: 0px;
	left: 0px;
	top: 0px;
    position: fixed;
    z-index: 999;
}

.navbar-inverse{
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
}

.image_header{
    background-image: url("http://7xs7qz.com1.z0.glb.clouddn.com/index_bg.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    /*background-attachment:fixed;*/
    width: 100%;
    height: 490px;
    margin-top: -35px;
    z-index: -1;
}

.page_title{
    text-align: center;
    color: #ffffff;
}
.page_title h1{
    line-height: 520px;
}
.page_title h5{
    line-height: 520px;
}

.post{
    list-style:none;
}
.post_title h5{
    color:black;
}
.post_time{
    font-style: italic;
    font-size:0.8em;
}
.post_tag{
    top:25px;
}

.go_up{
    position: fixed;
    bottom: 0px;
    right: 3%;
}
.go_up p{
    font-size:40px;
}
.footer{
    margin-top: 100px;
}